.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  /* max-width: 80%; */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  height: 100px;
  transition: transform 0.5s ease-in-out;
}

.item-image {
  height: 100px;
  /* width: 100px; */
}
